.main {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 1.5rem;
}

.headerSection {
    flex: 1;
}

.formSection {
    flex: 3;
}

.footerSection {
    flex: 1;
}

.formSection form label {
    display: none;
}

.headerSection h2:first-child {
    margin-bottom: 0;
    font-size: 2rem;
}

.headerSection h2:nth-child(2) {
    margin-top: 0;
    font-size: 1.6rem;
    color: grey;
    font-weight: 500;
}

.formSection form input {
    margin-top: 1.5rem;
    width: 95%;
    height: 3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 0.8rem;
    outline: none;
    border: 1px solid darkgray;
}

.formSection button {
    width: 100%;
    margin-top: 2rem;
    height: 4rem;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    outline: none;
    background-color: #0B25ED;
    border: 1px solid #0B25ED;
    color: white;
    font-weight: 500;
}

.formSection button:hover {
    background-color: white;
    border: 0.2rem solid #0B25ED;
    color: #0B25ED;
    font-weight: 500;
}

.footerSection h4 {
    margin-top: 6rem;
    text-align: center;
    font-weight: 500;
}

.footerSection h4 span{
    font-weight: 700;
    color: #0B25ED;
    text-decoration: underline;
}

.passwordValidation {
    flex: 1;
}

.passwordValidation ul{
    list-style: none;
    line-height: 2rem;
}

.passwordValidation ul .initial{
    color: darkgray;
}

.passwordValidation ul .passed{
    color: green;
}

.passwordValidation ul .failed{
    color: red;
}

.passwordValidation ul span{
    margin-right: 1rem;
}

.buttonGroup {
    display: flex;
}

.buttonGroup button:first-child {
    margin-right: 1rem;
}